# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
ENV/
backend/.venv
# ===============================
# Environment Variables
# ===============================
.env
.env.*

.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

.coverage
htmlcov/
.pytest_cache/

# ===============================
# Build / Distribution
# ===============================
build/
dist/
*.egg-info/

# ===============================
# uv / dependency
# ===============================
.python-version


# ===============================
# Frontend (Node.js)
# ===============================
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/

# Node logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# local sqlite db
backend/data/*.db

