# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
ENV/
backend/.venv
# ===============================
# Environment Variables
# ===============================
.env
.env.*

.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

.coverage
htmlcov/
.pytest_cache/

# ===============================
# Build / Distribution
# ===============================
build/
dist/
*.egg-info/

# ===============================
# uv / dependency
# ===============================
.python-version



